* {
    box-sizing: border-box;
  }
  
  body {
    background-image:url(file:///C:/Users/HP/OneDrive/Pictures/Screenshots/65e24dfdfc802a5688ed78ecd4060b80.jpg) ;
    background-size: cover;
  }
  
  /* Style the header */
  .header {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  } 
  .header3 {
    text-align: center;
    font-size: 25px;
  }
  /* Create three unequal columns that float next to each other */
  .column {
    float: left;
    height: 330px; /* Should be removed. Only for demonstration */
  }

  /* Left and right column */
  .column.side1 {
    /*background-color: white;*/
    width: 23%;
   /* padding-left: 100px;*/
    padding: 30px;
  }
  .column.side2 {
    background-color: white;
    width: 23%;
    background-image:url(file:///C:/Users/HP/OneDrive/Pictures/Screenshots/hoa%20sen.jpg) ;
    background-size: cover;
    padding: 5px;
  }
  /* middle column */
  .column.middle {
    width: 54%;
    background:url(https://i.pinimg.com/originals/cf/09/75/cf0975c4687b2dc2022ce6601e0f4ed8.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    border:ridge black;
    font-family:Arial, Helvetica, sans-serif;
    padding: 5px;
    padding-left: 430px;
    font-size: 17px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  .footer {
    padding: 30px;
    text-align: center;
  }
  .button {
    background-color: #c7d1dc;
    border:ridge black ;
    color:black;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    width: 170px;
    height: 55px;
  }
  .button:hover {
    background-color:#a2b7cf;
  }
  
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }
